<div class="hero-content flex-col lg:flex-row-reverse " id="contact">
  <div class="text-center lg:text-left ">
    <h1 class="text-5xl font-bold">Contact me</h1>
    <p class="py-6">If you would like to learn more about me, feel free to send me a message!</p>
  </div>
  <div class="card shrink-0 w-full max-w-lg shadow-2xl bg-base-100 mr-10">
    <form class="card-body">
      <div class="form-control">
        <input type="email" placeholder="email" class="input input-bordered" required />
      </div>
      <div class="form-control">
        <input type="text" placeholder="subject" class="input input-bordered" required />
      </div>
      <div class="form-control">
        <textarea placeholder="message" class="textarea textarea-bordered h-48" required></textarea>
      </div>
      <div class="form-control mt-6">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
