<div class="mockup-browser border bg-base-300">
  <div class="mockup-browser-toolbar ">
    <a class="input" href="http://www.railscourses.com">http://www.railscourses.com</a>
  </div>
  <div class="flex justify-center -py-5 bg-base-200">
    <%= image_tag 'RailsCourses.png'%>
  </div>
</div>
