<div>
  <%= render partial: 'hero'%>
  <div class="divider divider-start pt-20 pb-20 text-xl font-mono italic" >experience</div>
  <%= render partial: 'timeline'%>
  <div class="divider pb-10 " id="timeline"></div>
</div>
