<div class="w-full">
  <div class="divider divider-start font-bold text-4xl font-mono pb-10">messages</div>
  <% content_for :title, "Contact forms" %>
  <div id="contact_forms" class="min-w-full">
    <% @contact_forms.each do |contact_form| %>
      <div class="card shadow-xl border-base-300 mb-10 p-10">
        <%= render contact_form %>
        <p>
          <%= link_to "Show this contact form", contact_form, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
