<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @contact_form %>
    <%= link_to "Edit this contact form", edit_contact_form_path(@contact_form), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to contact forms", contact_forms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this contact form", @contact_form, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
