<div class="flex justify-center fixed top-0 left-0 right-0 pt-2 z-30">
  <ul class="menu bg-base-200 lg:menu-horizontal rounded-box drop-shadow-md ">
    <li>
      <a href="#blog" class="no-hover group">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
        blog
      </a>
    </li>
    <li>
      <a href="#timeline" class="no-hover group">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        about
      </a>
    </li>
    <li>
      <a href="#projects" class="no-hover group">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" /></svg>
        projects
      </a>
    </li>
    <li>
      <a href="#contact" class="group mx-2 text-gray-600 transition-colors duration-300 no-hover" aria-label="Contact Me">
        <svg class="w-5 h-5 fill-current text-gray-600 group-hover:text-blue-500" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 4H4C2.897 4 2 4.897 2 6v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 4.8-8-4.8V6h16zM4 18V8.402l8 4.8 8-4.8V18H4z"></path>
        </svg>
        contact
      </a>
    </li>
  </ul>
</div>
<div class="flex justify-center fixed top-14 left-0 right-0 -mt-2 z-20 ">
  <ul class="menu bg-base-200 lg:menu-horizontal rounded-box pb-1 drop-shadow-md ">
    <li>
      <a href="https://github.com/adamlabarge" target="_blank" rel="noopener noreferrer" class=" text-gray-600 transition-colors duration-300 hover:text-blue-500 no-hover" aria-label="Github">
        <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
          <path
                        d="M12.026 2C7.13295 1.99937 2.96183 5.54799 2.17842 10.3779C1.395 15.2079 4.23061 19.893 8.87302 21.439C9.37302 21.529 9.55202 21.222 9.55202 20.958C9.55202 20.721 9.54402 20.093 9.54102 19.258C6.76602 19.858 6.18002 17.92 6.18002 17.92C5.99733 17.317 5.60459 16.7993 5.07302 16.461C4.17302 15.842 5.14202 15.856 5.14202 15.856C5.78269 15.9438 6.34657 16.3235 6.66902 16.884C6.94195 17.3803 7.40177 17.747 7.94632 17.9026C8.49087 18.0583 9.07503 17.99 9.56902 17.713C9.61544 17.207 9.84055 16.7341 10.204 16.379C7.99002 16.128 5.66202 15.272 5.66202 11.449C5.64973 10.4602 6.01691 9.5043 6.68802 8.778C6.38437 7.91731 6.42013 6.97325 6.78802 6.138C6.78802 6.138 7.62502 5.869 9.53002 7.159C11.1639 6.71101 12.8882 6.71101 14.522 7.159C16.428 5.868 17.264 6.138 17.264 6.138C17.6336 6.97286 17.6694 7.91757 17.364 8.778C18.0376 9.50423 18.4045 10.4626 18.388 11.453C18.388 15.286 16.058 16.128 13.836 16.375C14.3153 16.8651 14.5612 17.5373 14.511 18.221C14.511 19.555 14.499 20.631 14.499 20.958C14.499 21.225 14.677 21.535 15.186 21.437C19.8265 19.8884 22.6591 15.203 21.874 10.3743C21.089 5.54565 16.9181 1.99888 12.026 2Z">
          </path>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/adam-labarge-b8099182/" target="_blank" rel="noopener noreferrer" class=" text-gray-600 transition-colors duration-300 hover:text-blue-500 no-hover" aria-label="LinkedIn">
        <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-9h3v9zm-1.5-10.269c-.966 0-1.75-.784-1.75-1.75s.784-1.75 1.75-1.75 1.75.784 1.75 1.75-.784 1.75-1.75 1.75zm13.5 10.269h-3v-4.5c0-1.104-.896-2-2-2s-2 .896-2 2v4.5h-3v-9h3v1.312c.884-.631 1.963-1.312 3-1.312 2.485 0 4.5 2.015 4.5 4.5v4.5z"></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/AdamMLaBarge" target="_blank" rel="noopener noreferrer" class="group text-gray-600 transition-colors duration-300 hover:text-blue-500 no-hover" aria-label="Twitter">
        <svg class="w-5 h-5 fill-current text-gray-600 group-hover:text-blue-500" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
    </li>
  </ul>
</div>
