<div class="flex justify-center fixed top-0 left-0 right-0 pt-2 z-30">
  <ul class="menu bg-base-200 lg:menu-horizontal rounded-box drop-shadow-md ">
    <li>
      <a href=" / " class="no-hover group">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
        home
      </a>
    </li>
    <li>
      <a href="#timeline" class="no-hover group">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        about
      </a>
    </li>
    <li>
      <a href="#projects" class="no-hover group">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" /></svg>
        projects
      </a>
    </li>
    <li>
      <a onclick="contact_modal.showModal()" class="group mx-2 text-gray-600 transition-colors duration-300 no-hover" aria-label="Contact Me">
        <svg class="w-5 h-5 fill-current text-gray-600 group-hover:text-blue-500" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 4H4C2.897 4 2 4.897 2 6v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 4.8-8-4.8V6h16zM4 18V8.402l8 4.8 8-4.8V18H4z"></path>
        </svg>
        contact
      </a>
    </li>
  </ul>
</div>
<dialog id="contact_modal" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <%= render  'contact_forms/form', contact_form: @contact_form %>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
